* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 30% 40% 30%;
}

.logo-row{
  background-color: red;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.response-box{
  background-color: blue;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.input-row{
  background-color: pink;
  justify-content: center;
  align-items: center;
  justify-items: center;
}